[submodule "packages/vexx"]
	path = packages/vexx
	url = git@github.com:open-hax/vexx.git
[submodule "packages/agents/knoxx"]
	path = packages/agents/knoxx
	url = git@github.com:open-hax/knoxx.git
	branch = merge/openplanner-knoxx
